* {
  box-sizing: border-box;
  font-family: Poppins;
  ;
}

nav {
  background: #e99898;
  font-weight: 600;
  height: 4em;
}

.menu {
  display: flex;
  padding-top: 15px;
}
.menu a {
  padding: 1em 1em;
  text-decoration: none;
  color: #3c3939;
}

.menu li {
  background: #e99898;
  display: inline;
}

.login {
  background: #e99898;
}

.loginform {
  text-align: center;
}

table {width:100%; border:1px solid #DDDDDD; font-size:12px; color:#000;background:#fff; margin-bottom:10px;}
table th {background-color:#E5E5E5; border:1px solid #BBBBBB; padding:3px 6px; font-weight:normal; color:#000;}
table tr td {border:1px solid #DDDDDD; padding:5px 6px;}
table tr.alt td {background-color:#E2E2E2;}
table tr:hover {background-color:#F0F0F0; color:#000;}