* {
  box-sizing: border-box;
  font-family: Poppins;
}

nav {
  background: #e99898;
  font-weight: 600;
  height: 4em;
}

.menu {
  display: flex;
  padding-top: 15px;
}
.menu a {
  padding: 1em 1em;
  text-decoration: none;
  color: #3c3939;
}

.menu li {
  background: #e99898;
  display: inline;
}

.login {
  background: #e99898;
}

.loginform {
  text-align: center;
}

/* table  */

table {
  width: 100%;
  border-collapse: collapse;
}
table th {
  background-color: #e99898;
  border: 1px solid #bbbbbb;
  padding: 3px 6px;
}
table tr td {
  border: 1px solid #dddddd;
  padding: 5px 6px;
}
table tr.alt td {
  background-color: #e2e2e2;
}
table tr:hover {
  background-color: #f0f0f0;
  color: #000;
}

/* table ends  */

/* .title, .manage, .deletePage {
  text-align: center;
} */


.addButton {
  text-decoration: none;
}