* {
  box-sizing: border-box;
  font-family: Poppins;
}

nav {
  background: #e99898;
  font-weight: 600;
  height: 4em;
}

.menu {
  display: flex;
  padding-top: 15px;
}
.menu a {
  padding: 1em 1em;
  text-decoration: none;
  color: #3c3939;
}

.menu li {
  background: #e99898;
  display: inline;
}

.login {
  background: #e99898;
}

.loginform {
  text-align: center;
}

.manage {
  text-align: center;
}

/* table  */

table {
  width: 100%;
  border-collapse: collapse;

}
th {
  background-color: #e99898;
  padding: 3px 6px;
}
td {
  border: 1px solid #dddddd;
  border: none;
  padding: 5px 6px;
  text-align: center;
}

 tr:hover {
  background-color: rgba(233, 152, 152, 0.30);
  color: #000;
}

/* table ends  */



.addButton {
  text-decoration: none;
  color: black;
}

.adminButton {
  right: 30px;
  position: absolute;
}

button,
.button {
  border: none;
  background: #e99898;
  font-size: 20px;

}

.buttonDiv {


  text-align: center;
}
